<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <style>
    .login {
            color: white;
            height: 38px;
            width: 300px;
            background-color: #2b669a;
        }
    .container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  </style>
  <body>
    <div class="container">
      <div id="app">
        <h2>請登入</h2>
        帳號(Email) : 
        <br>
        <input type="text" v-model="account" placeholder="Email"/>
        <br/>
        密碼(Password) :
        <br>
        <input type="text" v-model="password" placeholder="Password"/>
        <br><input type="checkbox">記住密碼<br><br>
        <button @click="login" class="login">登入
      </div>
    </div>

    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            message: 'Hello Vue!',
            account: '',
            password: '',
          };
        },
        methods: {
          async login() {
            // 判斷
            if (
              !this.account.replace(/\s+/g, '') ||
              !this.password.replace(/\s+/g, '')
            )
              return alert('不能為空');

            try {
              const {
                data: {
                  result: { token },
                },
              } = await axios.get('./test.json');

              localStorage.setItem('token', token);

              alert(localStorage.getItem('token'));
            } catch (error) {
              console.log(error);
            }
          },
        },
      }).mount('#app');
    </script>
  </body>
</html>
